## Travel Insurance Prediction Data Cleaning

### Import the necessary libraries

In [19]:
# necessary libraries
import pandas as pd
import warnings
import time
import pickle
warnings.filterwarnings('ignore')
from pathlib import Path

### Load and explore and preprocess the data

In [22]:
df = pd.read_csv(r"C:\Users\Dimitris-PC\Documents\Github Projects\Github-Project-3-Machine-Learning\Cleaning\cleaning_dataset.csv")

In [23]:
df

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,31,1,1,400000,6,1,0,0,0
1,31,0,1,1250000,7,0,0,0,0
2,34,0,1,500000,4,1,0,0,1
3,28,0,1,700000,3,1,0,0,0
4,28,0,1,700000,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...
1982,33,0,1,1500000,4,0,1,1,1
1983,28,0,1,1750000,5,1,0,1,0
1984,28,0,1,1150000,6,1,0,0,0
1985,34,0,1,1000000,6,0,1,1,1
1986,34,0,1,500000,4,0,0,0,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1987 non-null   int64
 1   Employment Type      1987 non-null   int64
 2   GraduateOrNot        1987 non-null   int64
 3   AnnualIncome         1987 non-null   int64
 4   FamilyMembers        1987 non-null   int64
 5   ChronicDiseases      1987 non-null   int64
 6   FrequentFlyer        1987 non-null   int64
 7   EverTravelledAbroad  1987 non-null   int64
 8   TravelInsurance      1987 non-null   int64
dtypes: int64(9)
memory usage: 139.8 KB

In [25]:
df['Employment Type'].unique()

array([1, 0], dtype=int64)

In [27]:
df.replace(to_replace=['Yes','No'], value = [1,0], inplace=True)
df.replace(to_replace=['Government Sector','Private Sector/Self Employed'], value = [1,0], inplace=True)
#df = df.drop('Unnamed: 0', axis=1)

In [28]:
df

,Age,Employment Type,GraduateOrNot,AnnualIncome,FamilyMembers,ChronicDiseases,FrequentFlyer,EverTravelledAbroad,TravelInsurance
0,31,1,1,400000,6,1,0,0,0
1,31,0,1,1250000,7,0,0,0,0
2,34,0,1,500000,4,1,0,0,1
3,28,0,1,700000,3,1,0,0,0
4,28,0,1,700000,8,1,1,0,0
...,...,...,...,...,...,...,...,...,...
1982,33,0,1,1500000,4,0,1,1,1
1983,28,0,1,1750000,5,1,0,1,0
1984,28,0,1,1150000,6,1,0,0,0
1985,34,0,1,1000000,6,0,1,1,1
1986,34,0,1,500000,4,0,0,0,0

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  1987 non-null   int64
 1   Employment Type      1987 non-null   int64
 2   GraduateOrNot        1987 non-null   int64
 3   AnnualIncome         1987 non-null   int64
 4   FamilyMembers        1987 non-null   int64
 5   ChronicDiseases      1987 non-null   int64
 6   FrequentFlyer        1987 non-null   int64
 7   EverTravelledAbroad  1987 non-null   int64
 8   TravelInsurance      1987 non-null   int64
dtypes: int64(9)
memory usage: 139.8 KB

In [30]:
# converting to CSV file

df.to_csv('cleaning_dataset.csv', index=False)